{% extends "base.html" %}
{% load i18n %}

{% block content %}

  <div class="c-hero-home">
    <div class="c-hero-home__wrapper">
      <br/>
      <br/>
      <br/>
      <br/>
      <h1 class="text-center">{% trans "November 18-19, 2017" %}</h1>
      <br/>
      <br/>
      <div class="text-center">
        {% include 'components/svgs/svg-logo-full.html' %}
        <br/>
        <br/>
        <h2><a href="javascript:void()" class="c-btn c-btn--primary">Submit a Proposal</a></h2>
        <br/>
        <br/>

      {% include 'components/svgs/svg-illustration-home.html' %}
      </div>

    </div>
  </div>


  <div class="container">
    <div class="c-block-text">
      {% include 'components/svgs/separator.html' %}
    </div>

    <div class="c-block-heading">
      {% include 'components/svgs/svg-stadium.html' %}
      <h1 class="c-block-heading__heading">
        {% trans "Where is the event?" %}
      </h1>
    </div>
  </div>

  <div class="c-block_branded_montreal">
    <div class="container">
      <div class="c-block-image">
        <div class="c-block-image__wrapper">
          <div class="c-block-image__content">
            <h1 class="c-block-image__heading">Montréal,<br/>Québec</h1>

            <p class="c-block-image__copy">
              {% trans "This year, PyCon Canada will be held November 18-19, 2017 in Montreal, Quebec, Canada." %}
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">

    <div class="c-block-text">
      {% include 'components/svgs/separator.html' %}
    </div>

    <div class="c-block-illustration">
      {% include 'components/svgs/svg-cathedral.html' %}
      <h1 class="c-block-illustration__heading">
        {% trans "subscribe to our mailing list" %}
      </h1>

      <p class="c-block-illustration__copy">
        {% trans "Receive all event details as they become available" %}
      </p>

      <div class="c-block-illustration__btn-group">
        <a class="c-btn c-btn--primary" href="http://eepurl.com/bs9mG9">{% trans "Subscribe" %}</a></div>
    </div>
  </div>
{% endblock %}

{#{% block footer %}#}
{#{% endblock %}#}
