{% extends "base.html" %}
{% load i18n staticfiles %}

{% block content %}

  <div class="c-hero-home">
    <div class="c-hero-home__wrapper">
      <br/>
      <br/>
      <br/>
      <br/>
      <h1 class="text-center">{% trans "November 18-21, 2017" %}</h1>
      <br/>
      <br/>
      <div class="text-center">
        {% include 'components/svgs/svg-logo-full.html' %}
        <br/>
        <br/>
        <h2><a href="https://www.papercall.io/pyconca2017"
               class="c-btn c-btn--primary">{% trans "Submit a Proposal" %}</a></h2>
        <br/>
        <br/>

        {% include 'components/svgs/svg-illustration-home.html' %}
      </div>

    </div>
  </div>


  <div class="container">
    <div class="c-block-text">
      {% include 'components/svgs/separator.html' %}
    </div>

    <div class="c-block-heading">
      {% include 'components/svgs/svg-stadium.html' %}
      <h1 class="c-block-heading__heading">
        {% trans "Where is the event?" %}
      </h1>
    </div>
  </div>

  <div class="c-block_branded_montreal">
    <div class="container">
      <div class="c-block-image">
        <div class="c-block-image__wrapper">
          <div class="c-block-image__content">
            <h1 class="c-block-image__heading">Montréal,<br/>Québec</h1>

            <p class="c-block-image__copy">
              {% trans "This year, PyCon Canada will be held November 18-21, 2017 in Montreal, Quebec, Canada." %}
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="c-block-text">
      {% include 'components/svgs/separator.html' %}
    </div>

    <div class="c-block-heading">
      {% include 'components/svgs/svg-tree.html' %}
      <h1 class="c-block-heading__heading">
        {% trans "Keynote speakers" %}
      </h1>
    </div>
  </div>


  <div class="container">
    <div class="row c-block-keynote">
      <div class="col-md-6 c-block-keynote__left">
        <h1 class="c-block-keynote__heading">Lynn Root</h1>
        <h3>{% trans 'Site Reliability Engineer' %}</h3>
        {% blocktrans %}
          Lynn Root is a Site Reliability Engineer at Spotify; but in reality, she tends to break things rather than
          make them more reliable. Lynn is also a global leader of PyLadies, and the founder & former leader of
          the San Francisco PyLadies. When her hands are not on a keyboard, they are usually holding a pair of
          knitting needles.
        {% endblocktrans %}
      </div>
      <div class="col-md-6 c-block-keynote__right">
        <img src="{% static 'images/keynotes/lynn-root.jpg' %}" class="rounded c-block-keynote__image"/>
      </div>
    </div>

    <div class="row c-block-keynote">
      <div class="col-md-6 c-block-keynote__right">
        <img src="{% static 'images/keynotes/camille-fournier.jpg' %}" class="rounded c-block-keynote__image"/>
      </div>
      <div class="col-md-6 c-block-keynote__left">
        <h1 class="c-block-keynote__heading">Camille Fournier</h1>
        <h3>{% trans "Managing Directory and Head of Platform Engineering" %}</h3>
        <p>
          {% blocktrans %}
            Camille Fournier is a Managing Director and Head of Platform Engineering at Two Sigma.  She is the former
            Chief Technology Officer of Rent The Runway and a former Vice President of Technology at Goldman Sachs.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
            Fournier earned an undergraduate degree from Carnegie Mellon University and a Master's degree in Computer
            Science from the University of Wisconsin–Madison. She is a maintainer of the Apache ZooKeeper open source
            project, writes the Ask The CTO column for O'Reilly Media, and is a regular public speaker and advocate for
            greater diversity within technology and leadership. Her book, "The Manager's Path," was published by
            O'Reilly in early 2017.
          {% endblocktrans %}
        </p>
      </div>
    </div>

    <div class="row c-block-keynote">
      <div class="col-md-6 c-block-keynote__left">
        <h1 class="c-block-keynote__heading">Julia Evans</h1>
        <h3>{% trans 'Software Engineer' %}</h3>
        {% blocktrans %}
          Julia Evans is a software engineer at Stripe. In her spare time, she runs a programming blog about what
          she's learning (systems programming, often!) at <a href="https://jvns.ca/" target="_blank">https://jvns.ca/</a>
          and publishes zines at <a href="https://jvns.ca/zines" target="_blank">https://jvns.ca/zines</a>.
          She thinks it's important to understand the fundamentals of how your systems work.
        {% endblocktrans %}
      </div>
      <div class="col-md-6 c-block-keynote__right">
        <img src="{% static 'images/keynotes/julia-evans.jpg' %}" class="rounded c-block-keynote__image"/>
      </div>
    </div>
  </div>


  <div class="container">

    <div class="c-block-text">
      {% include 'components/svgs/separator.html' %}
    </div>

    <div class="c-block-illustration">
      {% include 'components/svgs/svg-cathedral.html' %}
      <h1 class="c-block-illustration__heading">
        {% trans "subscribe to our mailing list" %}
      </h1>

      <p class="c-block-illustration__copy">
        {% trans "Receive all event details as they become available" %}
      </p>

      <div class="c-block-illustration__btn-group">
        <a class="c-btn c-btn--primary" href="http://eepurl.com/bs9mG9">{% trans "Subscribe" %}</a></div>
    </div>
  </div>
{% endblock %}

{#{% block footer %}#}
{#{% endblock %}#}
