{% extends "base.html" %}
{% load i18n presenters %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>{% trans "Location" %}</h1>
        {% include_md 'venue-location.md' %}
      </div>
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.774326839291!2d-73.56225738484288!3d45.51462133809916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91bb2b5d13acd%3A0x3f2007a09bc2bf90!2s1400+Rue+Berri%2C+Montr%C3%A9al%2C+QC+H2L!5e0!3m2!1sen!2sca!4v1510774933778" style="border:0; width: 100%; height: 30rem;" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% include_md 'venue.md' %}
      </div>
    </div>
  </div>

{% endblock %}
