{% extends "base.html" %}
{% load i18n %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-12 c-block-text">
        <h1>{% trans "Volunteering at PyCon Canada 2017" %}</h1>
        <p>{% trans "We're all looking forward to the great conference in November. The organizing team is working hard to make this happen, but we can't do it alone." %}</p>
        <p>{% trans "Volunteers <strong>must be registered</strong> to volunteer, but we welcome <strong>all attendees</strong> to lend a hand. We appreciate any assistance you can give us." %}</p>
        <p class="text-center">
          <a class="c-btn c-btn--primary"
             href="https://goo.gl/forms/hMhJYi0kS93MvryB3">
            {% trans "Volunteer for PyCon Canada" %}
          </a>
        </p>
      </div>
    </div>
  </div>

{% endblock %}
