body {
    margin: 0;
    font-size: 16px;
    background-color: #000;
    color: #fff;
}

pre {
    display: block;
    white-space: pre-wrap;
}

code {
    font-family: 'PT Mono', monospace;
}

a {
    color: #F2A516;
    font-weight: bold;
}

a:hover {
    color: #f7c973;
}

.code-1 {
    color: #8CBF3F;
}

.code-2 {
    color: #D92332;
}

.code-3 {
    color: #048ABF;
}


@media (min-width: 600px) {
    body {
        display: flex;
        align-items: center;
        height: 100vh;
        font-size: 2.5vw;
    }

    pre {
        width: 100vw;
        padding-left: 2em;
    }
}

@media (max-width: 600px) {
    .hide-tablet {
        display: none;
    }
}

@media (max-width: 500px) {
    .hide-mobile {
        display: none;
    }
}
