{% extends "base.html" %}
{% load i18n staticfiles bleach_tags %}

{% block content %}
  <div class="container">
    <div class="">
      <h1>
        {{ presentation.title }}
        <small>on {{ slotevent.slot.schedule.day }} at {{ slotevent.slot.start_time }} in {{ slotevent.location.name }}</small>
      </h1>
    </div>
  </div>

  <div class="container">
    <div class="">
      <p>
        <a href="https://github.com/pyconca/2017-wiki/wiki/Tutorials" class="btn">{% trans 'Sign up for' %} {{ presentation.speaker }} tutorial.</a>
      </p>

      {{ presentation.description_html | safe }}
    </div>
  </div>

  <div class="container">
    <hr/>
    <strong class="text-muted">{% trans 'Speaker' %}</strong>
    <h2>{{ presentation.speaker }}</h2>
    {% if presentation.speaker.twitter_url %}
      <a href="{{ presentation.speaker.twitter_url }}" class="twitter-follow-button" data-size="large"
         data-show-count="false">Follow @{{ presentation.speaker.twitter_username }}</a>
      <a href="{{ presentation.speaker.twitter_url }}" target="_blank"></a>
    {% endif %}
    <div>
      {{ presentation.speaker.bio_html | safe }}
    </div>
  </div>

  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
