{% extends "base.html" %}
{% load i18n staticfiles %}

{% block content %}

  <div class="container">

    {% for sch in schedules_all %}
      {% if sch == schedule %}
        <span>{{ sch.day }}</span>
      {% else %}
        <a href="{% url 'schedule:detail' sch.day %}">{{ sch.day }}</a>
      {% endif %}
    {% endfor %}

    <h1>Schedule (preview)</h1>

    <table style="border: 1px solid; width: 100%">
      <tbody>
      {% for slot in schedule.slots.all %}
        {% for event in slot.events.all %}
          <tr style="border: 1px solid;">
            {% if forloop.first %}
              <td rowspan="{{ slot.events.count }}" style="padding: 3rem;">{{ slot.start_time | time:"H:i" }}</td>{% endif %}
            <td style="padding: 3rem;">
              {{ event }}
              <br/>
              {{ event.location }} | {{ event.duration_str }} {{ event.presenter }}
            </td>
          </tr>
        {% endfor %}
      {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
